<section class="tab tab-description" data-group="primary" data-tab="tab-description">
	<div class="item-description">
		<label>{{localize 'SHADOWDARK.item.description'}}</label>
		{{editor
			descriptionHTML
			target="system.description"
			button=true
			editable=editable
			engine="prosemirror"
			collaborate=false
		}}
	</div>
</section>
