<section class="tab tab-details" data-group="primary" data-tab="tab-details">
	<div class="grid-3-columns">

		{{#ifEq item.type "Wand"}}
			{{> items/_partials/spell }}
		{{/ifEq}}

		{{#ifEq item.type "Weapon"}}
			{{> items/_partials/weapon }}
		{{/ifEq}}

		{{#if hasCost}}
			{{> items/_partials/cost }}
		{{/if}}

		{{#if usesSlots}}
			{{!-- Gems have non-configurable slot settings --}}
			{{#ifNeq item.type "Gem"}}
				{{> items/_partials/slots }}
			{{/ifNeq}}
		{{/if}}

		{{#if showItemProperties}}
			{{> items/_partials/item-properties }}
		{{/if}}

	</div>
</section>
