<section class="tab tab-details" data-group="primary" data-tab="tab-details">
	<div class="grid-3-columns">

		{{#ifEq item.type "Armor"}}
			{{> items/_partials/armor }}
		{{/ifEq}}

		{{#ifEq item.type "Boon"}}
			{{> items/_partials/boon }}
		{{/ifEq}}

		{{#ifEq item.type "Class Ability"}}
			{{> items/_partials/class-ability }}
		{{/ifEq}}

		{{#ifEq item.type "Class"}}
			{{> items/_partials/class }}
		{{/ifEq}}

		{{#ifEq item.type "Deity"}}
			{{> items/_partials/deity }}
		{{/ifEq}}

		{{#ifEq item.type "Effect"}}
			{{> items/_partials/effect }}
		{{/ifEq}}

		{{#ifEq item.type "Language"}}
			{{> items/_partials/language }}
		{{/ifEq}}

		{{#ifEq item.type "NPC Attack"}}
			{{> items/_partials/npc-attack }}
		{{/ifEq}}

		{{#ifEq item.type "NPC Special Attack"}}
			{{> items/_partials/npc-special-attack }}
		{{/ifEq}}

		{{#ifEq item.type "NPC Spell"}}
			{{> items/_partials/npc-spell }}
		{{/ifEq}}

		{{#ifEq item.type "Property"}}
			{{> items/_partials/property }}
		{{/ifEq}}

		{{#ifEq item.type "Scroll"}}
			{{> items/_partials/spell }}
		{{/ifEq}}

		{{#ifEq item.type "Spell"}}
			{{> items/_partials/spell }}
		{{/ifEq}}

		{{#ifEq item.type "Talent"}}
			{{> items/_partials/talent }}
		{{/ifEq}}

		{{#ifEq item.type "Wand"}}
			{{> items/_partials/spell }}
		{{/ifEq}}

		{{#ifEq item.type "Weapon"}}
			{{> items/_partials/weapon }}
		{{/ifEq}}

		{{#if hasCost}}
			{{> items/_partials/cost }}
		{{/if}}

		{{#if usesSlots}}
			{{!-- Gems have non-configurable slot settings --}}
			{{#ifNeq item.type "Gem"}}
				{{> items/_partials/slots }}
			{{/ifNeq}}
		{{/if}}

		{{#if showItemProperties}}
			{{> items/_partials/properties }}
		{{/if}}

	</div>
</section>
