<section class="tab tab-spellsknown" data-group="primary" data-tab="tab-spellsknown">
	<div>Spells Known by Spell Tier</div>
	<table>
		<tr>
			<th>Level</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
		</tr>

		{{#each item.system.spellcasting.spellsknown}}
		<tr>
		<td>{{@key}}</td>
			{{#each this}}
				<td><input type="number" value="{{this}}" name="system.spellcasting.spellsknown.{{@../key}}.{{@key}}"></td>
			{{/each}}
		</tr>
		{{/each}}
	</table>
</section>
