<div class="SD-box grid-rowspan-7">

	<div class="header">
		<label>
			{{localize "SHADOWDARK.sheet.item.tab.details"}}
		</label>
		<span></span>
	</div>

	<div class="content details">
		{{> apps/character-generator/details/class-description}}
		{{> apps/character-generator/details/ancestry-talents}}
		{{> apps/character-generator/details/weapons}}
		{{> apps/character-generator/details/armor}}
		{{> apps/character-generator/details/languages}}
		{{> apps/character-generator/details/patron}}
		{{> apps/character-generator/details/class-talents}}
		{{> apps/character-generator/details/gear}}
	</div>

</div>
