<div class="SD-box">
	<div class="header">
		<label>
			{{localize "SHADOWDARK.apps.character-generator.gear"}}
		</label>
		<span>
			<a
				class="fas fa-dice"
				data-action="cg-click"
				name="randomize-gear"
			></a>
		</span>
	</div>

	<div class="content centered">
		{{localize "SHADOWDARK.apps.character-generator.see_details"}}
	</div>
</div>
