<section class="tab tab-effects" data-group="primary" data-tab="tab-effects">
	{{> actors/_partials/effects-tab/effects-and-conditions}}
	<br>
	{{> actors/_partials/effects-tab/active-effects}}
</section>
