<section class="tab tab-effects flex1 SD-content-body {{tab.cssClass}}" data-group="primary" data-tab="effects">
	{{> actors/_partials/effects-tab/effects-and-conditions}}
	<br>
	{{> actors/_partials/effects-tab/active-effects}}
</section>
