<section class="tab tab-abilities" data-group="primary" data-tab="tab-abilities">
	<div class="abilities-grid">
		<div class="grid-2-columns">
			{{> actors/player/abilities/hp }}
			{{> actors/player/abilities/ac }}
			{{> actors/player/abilities/luck }}
			{{> actors/player/abilities/stats }}
			<div class="grid-colspan-2">
				<a
					class="rollable large"
					data-action="roll-initiative"
				>
					<i class="fa-solid fa-dice-d20"></i>
					{{localize 'SHADOWDARK.sheet.player.roll_initiative'}}
				</a>
			</div>
		</div>
		<div class="grid-1-columns">
			{{> actors/player/abilities/attacks }}
			{{#if hasClassAbilities}}
				{{> actors/player/abilities/class }}
			{{/if}}
		</div>
	</div>
</section>
