<section class="tab tab-notes" data-group="primary" data-tab="tab-notes">
	<div class="background-notes">
		{{editor
			notesHTML
			target="system.notes"
			button=true
			editable=editable
			engine="prosemirror"
			collaborate=false
		}}
	</div>
</section>
