<section class="tab tab-spells" data-group="primary" data-tab="tab-spells">
	<div class="value-box__bold grid-colspan-2">
		<label>{{localize 'SHADOWDARK.sheet.player.spells'}}</label>
		<ol>
			<li class="rollable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, molestiae.</li>
			<li class="rollable">Vero, asperiores minima dolorem voluptate fugiat totam dolorum vel debitis?</li>
			<li class="rollable">Mollitia excepturi, ipsam exercitationem sequi dolore aut pariatur veniam. Obcaecati?</li>
		</ol>
	</div>
</section>
