<section class="tab tab-talents" data-group="primary" data-tab="tab-talents">
	<div class="value-box__bold grid-colspan-2">
		<label>Talents / Spells</label>
		<ol>
			<li class="rollable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, molestiae.</li>
			<li class="rollable">Aliquam fuga rem, cupiditate esse ipsam dicta neque voluptas magnam!</li>
			<li class="rollable">Autem et quasi, voluptate sequi esse eaque! Aspernatur, sapiente tempora!</li>
			<li class="rollable">Vitae quia atque ex rerum dolores deleniti libero delectus sapiente?</li>
			<li class="rollable">Dolorem dignissimos deserunt nam, explicabo molestias voluptatum molestiae provident neque!</li>
			<li class="rollable">Cumque voluptatibus sequi itaque dolores facere asperiores animi, quae saepe.</li>
			<li class="rollable">Vitae veniam, hic ipsa tenetur culpa ipsam eaque officiis doloremque?</li>
			<li class="rollable">Quidem excepturi odio enim obcaecati temporibus fugit possimus ad ea!</li>
			<li class="rollable">Vero, asperiores minima dolorem voluptate fugiat totam dolorum vel debitis?</li>
			<li class="rollable">Mollitia excepturi, ipsam exercitationem sequi dolore aut pariatur veniam. Obcaecati?</li>
		</ol>
	</div>
</section>
