@use "../abstracts" as *;
@use "../mixins" as *;

.character-generator {

	button {
		font-size: 1.1rem;
		font-family: "Old Newspaper Font";
	}

	input[type="radio"] {
		width:auto;
	}

	.cg-grid {
		display: grid;
		gap: 8px;
		grid-template-columns: 180px 220px 1fr;
		grid-template-rows: repeat(7, 70px);
		}

	.content-link {
		line-height: 1.7;
	}

	#create-bar {
		margin: 8px 8px 0px 8px;
		text-align: center;
		button {
			width: 50%;
		}
	}

	.details {
		font-size: 0.85em;
		overflow: auto;

		p {
			margin-bottom: 10px;
		}

		fieldset {
			margin-bottom: 10px;
		}
	}

	.stats {

		div {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
			column-gap: 4px;
		}

		label {
			text-transform: uppercase;
			font-family: "Old Newspaper Font";
			font-weight: bold;
			font-size: 18px;
			margin-left: 5px;
		}

		select {
			font-size: 16px;
			width: 3em;
		}
	}
}
