@use "../abstracts" as *;
@use "../mixins" as *;

.character-generator {
	h1 {
		font-family: "Old Newspaper Font";
		// font-size: 1.4rem;
	}

	.col1 {
		float:left;
		height: 410px;
		width: 200px;
	}
	.col2 {
		float:left;
		height: 410px;
		width: 220px;
	}
	.col3 {
		float:left;
		height: 410px;
		width: 400px;
	}

	button {
		font-size: 1.1rem;
		font-family: "Old Newspaper Font";
	}

	.statcontainer {
		display: grid;
		grid: auto / auto auto;
	}

	.stats {
		label {
			display:block;
			text-transform: uppercase;
			font-family: "Old Newspaper Font";
			font-weight: bold;
		}
		span {
			flex-grow: 1;
		}
	}

	.content-link {
		line-height: 1.7;
	}

	.large-style {
		width: 378px;
		height: 354px;
		overflow: auto;
	}

	.box-style {
		border: 1px solid #111;
		margin: 10px;

	  
		.header {
			display:flex;

			label {
				font-size: 1.1rem;
				font-family: "Old Newspaper Font";
				background:#111;
				float:left;
				color:white;
				padding:2px;
				padding-left: 10px;
			}
			a, span {
				background: linear-gradient(90deg, #111 , transparent);
				float:right;
				flex-grow: 1;
				text-align:right;
				vertical-align: middle;
				padding:6px;
			}
		}
		.content {
			display:block;
			padding:5px;
			
			select {
				max-width: 188px;
			}
			p {
				font-size: 0.8em;
				b {
					font-size: 1.3em;
				}
				
			}
		}
	  }
}