@use "../abstracts" as *;
@use "../mixins" as *;

.level-up {

	button {
		font-size: 1.1rem;
		font-family: "Old Newspaper Font";
	}

	fieldset {
		border-style: dashed;
		padding-top: 4px;
		padding-bottom: 4px;
		margin-bottom: 5px;

	}

	.content-link {
		line-height: 1.7;
	}

	.hit-points {
		text-align: center;
		font-size: 24px;
		font-family: 'Montserrat-semibold';
	};

	.spells {
		fieldset {
			height:35px;
		}
	}

	.talents {
		overflow: hidden;
		fieldset {
			height: 100%;
			overflow: auto;
		}
	}


}
