@use "../abstracts" as *;
@use "../mixins" as *;

.shadowdarkling-importer {
	fieldset {
	height:120px;
	border:2px solid #111;
	display: flex;
	justify-content: center;
	align-items: center;
	}

	button {
		font-size: 18px;
		font-family: "Old Newspaper Font";
	}
}
