<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.actor.ac'}}</label>
		<span></span>
	</div>
	<div class="content">
		<div class="ac-value">
			{{armorClass}}
		</div>
	</div>
</div>
