<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.actor.ac'}}</label>
		<span></span>
	</div>
	<div class="content centered larger" data-tooltip="{{system.attributes.ac.tooltips}}">
			{{system.attributes.ac.value}}
	</div>
</div>
