<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.actor.ac'}}</label>
		<span></span>
	</div>
	<div class="content centered larger">
		{{#if editable}}
			{{numberInput
				actor.system.attributes.ac.value
				name="system.attributes.ac.value"
				placeholder="10"
			}}
		{{else}}
			{{system.attributes.ac.value}}
		{{/if}}
	</div>
</div>
