<div class="value-box__bold">
	<label>{{localize 'SHADOWDARK.sheet.actor.ac'}}</label>
	<div class="ac">
		<div class="ac-value">
			<input
				type="number"
				value="{{armorClass}}"
				class="ac-value"
				disabled
			>
		</div>
		{{> actors/player/abilities/luck }}
	</div>
</div>
