<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.player.melee_attacks'}}</label>
		<span></span>
	</div>
	<div class="content">
		{{#each attacks.melee}}
			<div class="attack">
				<a
					class="rollable"
					data-action="item-attack"
					data-attack-type="melee"
					data-item-id="{{this.item.uuid}}"
				>
					<i class="fa-solid fa-dice-d20"></i>
					{{>  actors/player/abilities/weapon-attack }}
				</a>
			</div>
		{{/each}}
	</div>
</div>

<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.player.ranged_attacks'}}</label>
		<span></span>
	</div>
	<div class="content">
		{{#each attacks.ranged}}
			<div class="attack">
				<a
					class="rollable"
					data-action="item-attack"
					data-attack-type="ranged"
					data-item-id="{{this.item.uuid}}"
				>
					<i class="fa-solid fa-dice-d20"></i>
					{{> actors/player/abilities/weapon-attack }}
				</a>
			</div>
		{{/each}}
	</div>
</div>

