<div class="attacks-grid">
	<label class="attacks-label">{{localize 'SHADOWDARK.sheet.player.attacks'}}</label>
		<ol>
			<li class="rollable">
				<b>Mace</b>, +2, 1d6
			</li>
			<li class="rollable">
				<b>Crossbow</b>, +0 (F), 1d6, Two-handed, Loading
			</li>
		</ol>
</div>
