<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.player.melee_attacks'}}</label>
		<span></span>
	</div>
	<div class="content">
		{{#each attacks.melee as |attack|}}
			<div>{{{attack.display}}}</div>
		{{/each}}
	</div>
</div>

<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.player.ranged_attacks'}}</label>
		<span></span>
	</div>
	<div class="content">
		{{#each attacks.ranged as |attack|}}
			<div>{{{attack.display}}}</div>
		{{/each}}
	</div>
</div>

