<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.inventory.gems'}}</label>
		<span></span>
	</div>
	<div class="content centered">
		<div class="larger">{{gems.totalGems}}</div>
		<a data-action="open-gem-bag" data-tooltip="Open Gem Bag">
			<i class="fa-solid fa-sack"></i>
			{{localize 'SHADOWDARK.app.gem_bag.title'}}
		</a>
	</div>
</div>
