<section class="tab tab-details" data-group="primary" data-tab="tab-details">
	<div class="grid-3-columns">
		{{> items/_partials/spell }}
		{{> items/_partials/cost }}
		{{> items/_partials/slots }}
	</div>
</section>
