<div style="margin:4px;">
	<h3>
		{{localize "SHADOWDARK.item.effect.pre-defined.title"}}
	</h3>

	&nbsp;

	<input
		list="predefined-effects-list"
		name="predefinedEffects"
		placeholder="{{localize "SHADOWDARK.dialog.type_here"}}"
		style="width:auto"
		type="text"
		value=""
	/>

	<datalist id="predefined-effects-list">
		{{#each predefinedEffects}}
			<option value="{{this.key}}" label="{{this.name}}"></option>
		{{/each}}
	</datalist>
</div>
