@use "../../abstracts" as *;
@use "../../mixins" as *;

.shadowdark.sheet.light {
	@include p-reset;
	color: white;
	font-size: 18px;

	.editor-content {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	img.portrait {
		object-fit: cover;
		object-position: 100% 0;
	}

	.background-grid {
		@include p-reset;
		display: grid;
		row-gap: 8px;
	}

	.background-details {
		display: grid;
		row-gap: 4px;
	}

	.background-notes {
		@include p-reset;
		display: grid;
		grid-template-rows: min-content minmax(200px, max-content);
		row-gap: 4px;

		.editor {
			background-color: var(--form-background);
		}

		label {
			display: block;
			@include p-reset;

			font-family: "Old Newspaper Font";
			font-size: 20px;
			font-weight: bold;
			text-decoration: underline;

			line-height: 1.1;

			border: none;
		}

	}

	.details-description {
		@include p-reset;
		padding-top: 4px;
		padding-bottom: 8px;
	}

	.details-footer {
		padding: 3px 0 0;

		span {
			border: 2px groove #FFF;
			border-radius: 5px;
			padding: 0 4px 0 4px;
			font-size: 10px;
		}
	}

	.light-body {
		@include p-reset;
		margin: 4px;
	}

	.light-header {
		@include p-reset;

		display: grid;
		grid-template-columns: 110px 1fr;

		column-gap: 4px;

		align-items: center;
	}

	.light-name {
		font-family: "Old Newspaper Font";
		font-size: 2.5rem;

		height: 100%;
	}

	.portrait {
		grid-row: span 2;
	}

	.title {
		@include p-reset;

		font-family: "JSL Blackletter";
		font-size: 3.5rem;

		text-align: right;
		line-height: 1;

		&__prefix {
			color: $secondary-color;
			text-shadow: -0.2rem -0.2rem $primary-color;
		}

		&__suffix {
			color: $primary-color;
			text-shadow: -0.2rem -0.2rem $secondary-color;
		}
	}

	.xp-score {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2px;
		align-items: center;

		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}
}
