@use "../../abstracts" as *;
@use "../../mixins" as *;

.shadowdark.sheet.npc {

	.abilities-grid {
		display: grid;
		grid-template-columns: minmax(175px, 1fr) 3fr;
		column-gap: 8px;
		align-items: start;
	}

	.ability-score {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		text-align: center;

		a {
			text-transform: uppercase;
			font-size: 16px;
			font-family: "Old Newspaper Font";
			font-weight: bold;
		}

		input {
			font-size: 16px
		}

	}

	.grid-dark-adapted {
		display: grid;
		grid-template-columns: 3fr 1fr;
		align-items: center;
	}

	.tab-description.active{
		height: 100%;
		display: grid;
		grid-template-rows: 30px 1fr;
	}
}
