@use "../../abstracts" as *;
@use "../../mixins" as *;

.shadowdark.sheet.player {
	.window-content {
		padding: 0px;
	}

	@include p-reset;
	color: white;
	font-size: 18px;

	.editor-content {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	img.portrait {
		object-fit: cover;
		object-position: 100% 0;
	}

	input {
		@include p-reset;
		font-family: "Montserrat-Medium";
		font-size: 1.1rem;

		text-overflow: ellipsis;
		text-align: center;

		background: rgba(0, 0, 0, 0.05);
		border: none;
	}

	label {
		@include p-reset;
		display: block;

		font-family: "Old Newspaper Font";
		font-size: 1.3rem;
		font-weight: bold;

		line-height: 1.1;

		align-self: center;

		border: none;
	}

	ol {
		padding: 4px;
		margin: 4px;

		list-style-type: none;

		font-family: "Montserrat-Medium";
		font-size: 16px;
	}

	.abilities-grid {
		@include p-reset;
		display: grid;
		grid-template-columns: 1fr 3fr;
		column-gap: 8px;
		align-items: start;
	}

	.ability-scores {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 8px;
		row-gap: 8px;
		background-color: var(--form-background);
	}

	.ability-score {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 4px;
		align-items: center;

		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}

	.boons-list {
		margin-bottom: 8px;

		table {
			@include p-reset;
			font-family: "Montserrat-Medium";
			font-size: 14px;
			text-align: left;
			border: none;

			& td:first-child {
				padding-left: 8px;
			}

			& th:first-child {
				text-align: left;
				padding-left: 4px;
			}

			& tr:first-child {
				background-color: #00000020;

				& td {
					@include p-reset;
				}
			}

			// Only highlight on hover rows that have actual items in them,
			// not the section headers or header/footer rows
			//
			& tr:not(
				:first-child,
				.spell-tier-header,
				.item-details
			) {
				&:hover {
					cursor: pointer;
					background-color: var(--secondary);
					color: white;
				}
			}
		}
	}

	.pc-roll-initiative {
		@include p-reset;
		display: grid;
		grid-column: span 2;
		row-gap: 4px;
	}

	.ac {
		text-align: center;
	}

	.ac-value,
	.hp-value {
		font-size: 38px;
		height: auto;
		line-height: 1;
		margin-bottom: 2px;
	}

	.actions-label {
		@include p-reset;
		display: block;
		padding: 4px;

		font-family: "Old Newspaper Font";
		font-size: 20px;
		line-height: 1;
		font-weight: normal;

		border: none;
		color: white;
		background: linear-gradient(0.75turn, transparent, black);
		text-shadow: 1px 1px black
	}

	.background-grid {
		@include p-reset;
		display: grid;
		row-gap: 8px;
	}

	.background-details {
		display: grid;
		row-gap: 4px;
	}

	.background-notes {
		@include p-reset;
		display: grid;
		grid-template-rows: minmax(485px, max-content);

		.editor {
			background-color: var(--form-background);
		}
	}

	.cast-spell {
		text-align: right;
		padding-right: 8px;

		&:hover {
			color: lightskyblue;
			text-shadow: 2px 2px 2px black;
		}
	}

	.coins {
		display: grid;
		row-gap: 4px;
		background-color: var(--form-background);

		label {
			@include p-reset;
			display: block;

			font-family: "Old Newspaper Font";
			font-size: 20px;
			font-weight: bold;

			line-height: 1;

			border: none;
		}
	}

	.coin-box {
		display: grid;
		grid-template-columns: 2fr 1fr;

		align-items: center;

		text-align: center;

		label {
			font-size: 18px;
			font-weight: normal;
		}
	}

	.coin-value {
		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}

	.detail-box,
	.pc {
		@include p-reset;
		display: grid;
		grid-template-columns: minmax(min-content, max-content) 1fr;
		background-color: var(--form-background);
		column-gap: 8px;

		a {
			font-family: "Montserrat-Medium";
			font-size: 1.0rem;
			font-weight: bold;
		}
	}

	.detail-box {
		font-family: "Montserrat-Medium";
		font-size: 16px;
	}

	.pc_ancestry,
	.pc_background,
	.pc_class,
	.pc_deity,
	.pc_languages{
		grid-template-columns: min-content min-content 1fr;
		align-items: center;
	}

	.pc_title {
		grid-template-columns: min-content 1fr;
		align-items: center;
	}

	.detail-value {
		text-align: left;
	}

	.details-description {
		@include p-reset;
		padding-top: 4px;
		padding-bottom: 8px;
	}

	.details-footer {
		padding: 3px 0 0;

		span {
			border: 2px groove #FFF;
			border-radius: 5px;
			padding: 0 4px 0 4px;
			font-size: 10px;
		}
	}

	.open-gem-bag {
		color: sienna;
	}

	.fixed-header {
		@include p-reset;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 8px;

		position: sticky;
		top: 0;

		background: url("/ui/parchment.jpg") repeat;

		z-index: 10;
	}

	.hit-points {
		text-align: center;
	}

	.hp-max {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;

		p {
			font-size: 1.3rem;
			font-weight: bold;
		}
	}

	.inventory-body {
		@include p-reset;
		margin: 4px;
		display: grid;
		grid-template-columns: 4fr 1fr;
		column-gap: 12px;
	}

	.inventory-list {

		table {
			@include p-reset;
			font-family: "Montserrat-Medium";
			font-size: 14px;
			text-align: center;
			border: none;

			& td:first-child {
				padding-left: 8px;
				text-align: left;
			}

			& th:last-child {
				text-align: center;
			}

			& tr {
				vertical-align: top;
			}

			& tr:first-child,
			& tr:last-child,
			& tr:nth-last-child(2) {
				background-color: #00000020;

				& td {
					@include p-reset;
				}
			}

			// Only highlight on hover rows that have actual items in them,
			// not the section headers or header/footer rows
			//
			& tr:not(:first-child,
				:nth-last-child(2),
				:last-child,
				.inventory-section-header,
				.item-details
			) {
				font-size: 13px;

				&:hover {
					cursor: pointer;
					background-color: var(--secondary);
					color: white;
				}
			}

			.inventory-section-header {
				text-align: left;
			}
		}
	}

	.inventory-sidebar {
		@include p-reset;
		display: grid;
		align-items: start;
		row-gap: 8px;
	}

	.item-control.item-create {
		color: var(--secondary);
	}

	.item-details {
		font-size: 12px;

		&__slidedown {
			@include p-reset;
			padding-left: 8px;
			text-align: left;
		}
	}

	.item-image {
		@include p-reset;
		display: inline-block;
		width: 24px;
		height: 24px;

		background-size: contain;
		background-repeat: no-repeat;

		font-size: 14px;
		vertical-align: middle;
		text-align: center;

		color: transparent;

		&:hover {
			background: none !important;
			color: white;
		}
	}

	.item-toggle-equipped,
	.item-toggle-stashed {
		color: var(--inactive-control);

		&.enabled {
			color: black;
		}
	}

	.item-toggle-light {
		color: var(--inactive-control);

		&.lit {
			color: darkorange;
		}
	}

	.inactive,
	.use-potion,
	.use-scroll,
	.use-wand {
		color: var(--inactive-control);
	}

	.use-potion,
	.use-scroll,
	.use-wand {
		&:hover {
			color: lightskyblue;
			text-shadow: 2px 2px 2px black;
		}
	}


	.language-list {
		&:hover {
			cursor: pointer;
			box-shadow: 0 0 5px var(--color-shadow-primary);
		}
	}

	.level-xp {
		display: grid;
		grid-template-columns: min-content 1fr min-content 1fr;
		column-gap: 8px;
		align-items: center;
		text-align: center;
	}

	.luck {
		display: grid;
		grid-template-columns: 1.8fr 1fr;
		align-items: center;
		background-color: var(--form-background);
		column-gap: 4px;

		p {
			font-size: 1.3rem;
			font-weight: bold;
		}
	}

	.player-body {
		@include p-reset;
		padding: 8px;
	}

	.player-header {
		@include p-reset;

		display: grid;
		grid-template-columns: 110px 1fr;

		column-gap: 4px;

		align-items: center;
	}

	.player-name {
		font-family: "Old Newspaper Font";
		font-size: 2.5rem;

		height: 100%;
	}

	.player-navigation {
		&__flex {
			display: flex;
			justify-content: space-evenly;
			align-items: baseline;

			a {
				@include p-reset;
				margin: 4px;

				font-family: "Old Newspaper Font";
				font-size: 1.5rem;
				line-height: 1;

				color: $primary-color;

				&.active {
					text-decoration: underline;
					font-weight: bold;
					font-size: 1.6rem;
				}
			}
		}
	}

	.portrait {
		grid-row: span 2;
	}

	.rollable {
		&:hover {
			cursor: pointer;
			text-shadow: 0 0 8px var(--clickable);
		}
	}

	.sell-treasure {
		color: var(--inactive-control);

		&:hover {
			color: gold;
			text-shadow: 2px 2px 2px black;
		}
	}

	.slots {
		display: grid;
		row-gap: 4px;
		background-color: var(--form-background);

		label {
			@include p-reset;
			display: block;

			font-family: "Old Newspaper Font";
			font-size: 20px;
			font-weight: bold;

			line-height: 1;

			border: none;
		}
	}

	.slots-box {
		display: grid;
		grid-template-columns: 2fr 1fr;

		align-items: center;

		text-align: center;

		label {
			font-size: 18px;
			font-weight: normal;
		}
	}

	.strike-through {
		text-decoration: line-through;
	}

	.boons-body,
	.class-abilities-body,
	.spells-body {
		@include p-reset;
		margin: 4px;
		display: grid;
		grid-template-columns: 1fr max-content;
		row-gap: 4px;
		column-gap: 8px;

		label {
			display: block;
			@include p-reset;

			font-family: "Old Newspaper Font";
			font-size: 20px;
			font-weight: bold;

			line-height: 1.1;

			border: none;
		}
	}

	.spells-list {
		margin-bottom: 8px;

		table {
			@include p-reset;
			font-family: "Montserrat-Medium";
			font-size: 14px;
			text-align: left;
			border: none;

			& td:first-child {
				padding-left: 8px;
			}

			& th:first-child {
				text-align: left;
				padding-left: 4px;
			}

			& th:last-child {
				text-align: right;
				padding-right: 4px;
			}

			& td:last-child {
				text-align: center;
				padding-right: 4px;
			}

			& tr:first-child {
				background-color: #00000020;

				& td {
					@include p-reset;
				}
			}

			// Only highlight on hover rows that have actual items in them,
			// not the section headers or header/footer rows
			//
			& tr:not(
				:first-child,
				.spell-tier-header,
				.item-details
			) {
				&:hover {
					cursor: pointer;
					background-color: var(--secondary);
					color: white;
				}
			}
		}
	}

	.class-abilities-list {
		margin-bottom: 8px;

		table {
			@include p-reset;
			font-family: "Montserrat-Medium";
			font-size: 14px;
			text-align: left;
			border: none;

			& td:first-child {
				padding-left: 8px;
			}

			& th:first-child {
				text-align: left;
				padding-left: 4px;
			}

			& th:last-child {
				text-align: right;
				padding-right: 4px;
			}

			& td:last-child {
				text-align: center;
				padding-right: 4px;
			}

			// & tr:first-child {
			// 	// background-color: #00000020;

			// 	& td {
			// 		@include p-reset;
			// 	}
			// }

			// Only highlight on hover rows that have actual items in them,
			// not the section headers or header/footer rows
			//
			& tr:not(
				:first-child,
				.spell-tier-header,
				.item-details
			) {
				&:hover {
					cursor: pointer;
					background-color: var(--secondary);
					color: white;
				}
			}
		}
	}

	.section-header {
		background: rgba(0, 0, 0, 0.05);
		text-transform: uppercase;
		font-weight: bold;
		text-align: left;
	}

	.talents-body {
		@include p-reset;
		margin: 4px;
		display: grid;
	}

	.talents-list {
		margin-bottom: 8px;

		table {
			@include p-reset;
			font-family: "Montserrat-Medium";
			font-size: 14px;
			text-align: center;
			border: none;

			& td:first-child {
				padding-left: 8px;
				text-align: left;
			}

			& th:first-child {
				text-align: left
			}

			& th:last-child {
				text-align: center;
			}

			& tr:first-child {
				background-color: #00000020;

				& td {
					@include p-reset;
				}
			}

			// Only highlight on hover rows that have actual items in them,
			// not the section headers or header/footer rows
			//
			& tr:not(
				:first-child,
				.talent-section-header,
				.item-details
			) {
				&:hover {
					cursor: pointer;
					background-color: var(--secondary);
					color: white;
				}
			}
		}
	}

	.title {
		@include p-reset;

		font-family: "JSL Blackletter";
		font-size: 3.5rem;

		text-align: right;
		line-height: 1;

		&__prefix {
			color: $secondary-color;
			text-shadow: -0.2rem -0.2rem $primary-color;
		}

		&__suffix {
			color: $primary-color;
			text-shadow: -0.2rem -0.2rem $secondary-color;
		}
	}

	.uuid-link {
		margin: 4px;
		// text-align: center;
	}

	.xp-score {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2px;
		align-items: center;

		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}
}
