@use "../../abstracts" as *;
@use "../../mixins" as *;

.shadowdark.sheet.player {
	@include p-reset;
	color: white;
	font-size: 18px;

	input {
		@include p-reset;
		font-family: "Montserrat-Medium";
		font-size: 16px;

		text-overflow: ellipsis;
		text-align: center;

		background: rgba(0, 0, 0, 0.05);
		border: none;
	}

	ol {
		padding: 4px;
		margin: 4px;

		list-style-type: none;

		font-family: "Montserrat-Medium";
		font-size: 16px;
	}

	.abilities-grid {
		@include p-reset;
		display: grid;
		grid-template-columns: 1fr 3fr;
		column-gap: 8px;
		align-items: start;
	}

	.ability-scores {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 8px;
		row-gap: 8px;
		background-color: var(--form-background);
	}

	.ability-score {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 4px;
		align-items: center;

		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}

	.ac {
		text-align: center;
	}

	.ac-value,
	.hp-value {
		font-size: 38px;
		height: auto;
		line-height: 1;
		margin-bottom: 2px;
	}

	.attacks-label {
		@include p-reset;
		display: block;
		padding: 4px;

		font-family: "Old Newspaper Font";
		font-size: 20px;
		line-height: 1;
		font-weight: normal;

		border: none;
		color: white;
		background: linear-gradient(0.75turn, transparent, black);
		text-shadow: 1px 1px black
	}

	.background-grid {
		@include p-reset;
		display: grid;
		row-gap: 8px;
	}

	.background-details {
		display: grid;
		row-gap: 4px;
	}

	.background-notes {
		@include p-reset;
		display: grid;
		grid-template-rows: min-content minmax(200px, max-content);
		row-gap: 4px;

		.editor {
			background-color: var(--form-background);
		}

		label {
			display: block;
			@include p-reset;

			font-family: "Old Newspaper Font";
			font-size: 20px;
			font-weight: bold;
			text-decoration: underline;

			line-height: 1.1;

			border: none;
		}

	}

	.cast-spell {
		text-align: right;
		padding-right: 8px;

		&:hover {
			color: lightskyblue;
			text-shadow: 2px 2px 2px black;
		}
	}

	.coins {
		display: grid;
		row-gap: 4px;
		background-color: var(--form-background);

		label {
			@include p-reset;
			display: block;

			font-family: "Old Newspaper Font";
			font-size: 20px;
			font-weight: bold;

			line-height: 1;

			border: none;
		}
	}

	.coin-box {
		display: grid;
		grid-template-columns: 2fr 1fr;

		align-items: center;

		text-align: center;

		label {
			font-size: 18px;
			font-weight: normal;
		}
	}

	.coin-value {
		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}

	.detail-box {
		@include p-reset;
		display: grid;
		grid-template-columns: minmax(min-content, max-content) 1fr;
		background-color: var(--form-background);
		column-gap: 8px;
		font-family: "Montserrat-Medium";
		font-size: 16px;

		label {
			@include p-reset;
			display: block;

			font-family: "Old Newspaper Font";
			font-size: 20px;
			font-weight: bold;

			line-height: 1.1;

			border: none;
		}
	}

	.detail-value {
		text-align: left;
	}

	.open-gem-bag {
		color: sienna;
	}

	.hit-points {
		text-align: center;
	}

	.hp-max {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;

		p {
			font-size: 18px;
		}
	}

	.inventory-body {
		@include p-reset;
		margin: 4px;
		display: grid;
		grid-template-columns: 4fr 1fr;
		column-gap: 12px;
	}

	.inventory-list {

		table {
			@include p-reset;
			font-family: "Montserrat-Medium";
			font-size: 14px;
			text-align: center;
			border: none;

			.item-image {
				width: 24px;
				height: 24px;
				border-radius: 3px;
				background-size: cover;
				display: inline-block;
				vertical-align: middle;
			}

			& .item-rollable:hover {
				background-image: url("/icons/svg/d20-grey.svg") !important;
			}

			& td:first-child {
				padding-left: 8px;
				text-align: left;
			}

			& tr:first-child,
			& tr:last-child,
			& tr:nth-last-child(2) {
				background-color: #00000020;

				& td {
					@include p-reset;
				}
			}

			// Only highlight on hover rows that have actual items in them,
			// not the section headers or header/footer rows
			//
			& tr:not(:first-child,
				:nth-last-child(2),
				:last-child,
				.inventory-section-header) {
				font-size: 13px;

				&:hover {
					cursor: pointer;
					background-color: var(--secondary);
					color: white;
				}
			}

			.inventory-section-header {
				text-align: left;
			}
		}
	}

	.inventory-sidebar {
		@include p-reset;
		display: grid;
		align-items: start;
		row-gap: 8px;
	}

	.item-toggle-equipped {
		color: var(--inactive-control);

		&.equipped {
			color: black;
		}
	}

	.item-toggle-light {
		color: var(--inactive-control);

		&.lit {
			color: darkorange;
		}
	}

	.inactive {
		color: var(--inactive-control);
	}

	.language-list {
		&:hover {
			cursor: pointer;
			box-shadow: 0 0 5px var(--color-shadow-primary);
		}
	}

	.level-xp {
		display: grid;
		grid-template-columns: min-content 1fr min-content 1fr;
		column-gap: 8px;
		align-items: center;
		text-align: center;

		label {
			@include p-reset;
			display: block;

			font-family: "Old Newspaper Font";
			font-size: 20px;
			font-weight: bold;

			line-height: 1.1;

			border: none;
		}
	}

	.luck {
		display: grid;
		grid-template-columns: 1.8fr 1fr;
		align-items: center;
		background-color: var(--form-background);
		column-gap: 4px;

		p {
			font-size: 20px;
			font-weight: bold;
		}
	}

	.player-body {
		@include p-reset;
		margin: 4px;
	}

	.player-header {
		@include p-reset;

		display: grid;
		grid-template-columns: 110px 1fr;

		column-gap: 4px;

		align-items: center;
	}

	.player-name {
		font-family: "Old Newspaper Font";
		font-size: 2.5rem;

		height: 100%;
	}

	.player-navigation {
		&__flex {
			display: flex;
			justify-content: space-evenly;
			align-items: baseline;

			a {
				@include p-reset;
				margin: 4px;

				font-family: "Old Newspaper Font";
				font-size: 1.5rem;
				line-height: 1;

				color: $primary-color;

				&.active {
					text-decoration: underline;
					font-weight: bold;
					font-size: 1.6rem;
				}
			}
		}
	}

	.portrait {
		grid-row: span 2;
	}

	.rollable {
		&:hover {
			cursor: pointer;
			text-shadow: 0 0 8px var(--clickable);
		}
	}

	.sell-treasure {
		color: var(--inactive-control);

		&:hover {
			color: gold;
			text-shadow: 2px 2px 2px black;
		}
	}

	.slots {
		display: grid;
		row-gap: 4px;
		background-color: var(--form-background);

		label {
			@include p-reset;
			display: block;

			font-family: "Old Newspaper Font";
			font-size: 20px;
			font-weight: bold;

			line-height: 1;

			border: none;
		}
	}

	.slots-box {
		display: grid;
		grid-template-columns: 2fr 1fr;

		align-items: center;

		text-align: center;

		label {
			font-size: 18px;
			font-weight: normal;
		}
	}

	.spell-lost {
		text-decoration: line-through;
	}

	.spells-body {
		@include p-reset;
		margin: 4px;
		display: grid;
		grid-template-columns: 1fr min-content;
		row-gap: 4px;
		column-gap: 4px;

		label {
			display: block;
			@include p-reset;

			font-family: "Old Newspaper Font";
			font-size: 20px;
			font-weight: bold;

			line-height: 1.1;

			border: none;
		}
	}

	.spells-list {
		margin-bottom: 8px;

		table {
			@include p-reset;
			font-family: "Montserrat-Medium";
			font-size: 15px;
			text-align: left;
			border: none;

			& td {
				@include p-reset;
				padding-left: 8px;
			}

			& tr:first-child {
				background-color: #00000020;

				& td {
					@include p-reset;
					padding-left: 4px;
				}
			}

			// Only highlight on hover rows that have actual items in them,
			// not the section headers or header/footer rows
			//
			& tr:not(:first-child,
				.spell-tier-header) {
				font-size: 14px;

				&:hover {
					cursor: pointer;
					background-color: var(--secondary);
					color: white;
				}
			}

			.spell-tier-header {
				@include p-reset;
				background-color: #00000020;
			}

			.spell-tier-header-padding {
				padding-left: 4px;
			}
		}
	}

	.talents-body {
		@include p-reset;
		margin: 4px;
		display: grid;
	}

	.talents-list {
		margin-bottom: 8px;

		table {
			@include p-reset;
			font-family: "Montserrat-Medium";
			font-size: 15px;
			text-align: left;
			border: none;

			& td:first-child {
				text-align: center;
			}

			& th:first-child {
				text-align: center;
			}

			& tr:first-child {
				background-color: #00000020;

				& td {
					@include p-reset;
				}
			}

			// Only highlight on hover rows that have actual items in them,
			// not the section headers or header/footer rows
			//
			& tr:not(:first-child) {
				font-size: 14px;

				&:hover {
					cursor: pointer;
					background-color: var(--secondary);
					color: white;
				}
			}
		}
	}

	.title {
		@include p-reset;

		font-family: "JSL Blackletter";
		font-size: 3.5rem;

		text-align: right;
		line-height: 1;

		&__prefix {
			color: $secondary-color;
			text-shadow: -0.2rem -0.2rem $primary-color;
		}

		&__suffix {
			color: $primary-color;
			text-shadow: -0.2rem -0.2rem $secondary-color;
		}
	}

	.xp-score {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2px;
		align-items: center;

		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}
}
