@use "../../abstracts" as *;
@use "../../mixins" as *;

.shadowdark.sheet.player {
	.window-content {
		padding: 0px;
	}

	.abilities-grid {
		display: grid;
		grid-template-columns: minmax(165px, 1fr) 2.5fr;
		column-gap: 8px;
		align-items: start;
	}

	.ability-score {
		div {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
			min-width: 2em;
			text-align: center;
		}
		a {
			text-transform: uppercase;
			font-size: 18px;
			font-family: "Old Newspaper Font";
			font-weight: bold;
		}
		input,
		span {
			font-size: 18px;
			font-family: "Montserrat-SemiBold";
			width: 2.5em;
		}
	}

	.background-grid-A,
	.background-grid-B,
	.background-grid-C {
		display: grid;
		grid-template-rows: 1fr;
		gap: 8px;
		font-size: 16px;
		.content-link {
			background: none;
			border: none;
			padding: 0px;
		}
	 }

	.background-grid-A {
		grid-template-columns: 1fr 1.5fr repeat(2, 1.75fr);
	}
	.background-grid-B {
		grid-template-columns: 1fr repeat(2, 2.25fr);
	}
	.background-grid-C {
		grid-template-columns: 1fr 2.5fr;
	}

	.editor-content {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.inventory-grid {
		display: grid;
		grid-template-columns: 4fr 1fr;
		gap: 8px;
	}


	.item-image {
		display: inline-block;
		width: 24px;
		height: 24px;

		background-size: contain;
		background-repeat: no-repeat;

		font-size: 14px;
		vertical-align: middle;
		text-align: center;

		color: transparent;

		&:hover {
			background: none !important;
			color: white;
		}
		i {
			cursor: pointer;
		}
	}

	.item-toggle-equipped,
	.item-toggle-stashed {
		color: var(--inactive-control);

		&.enabled {
			color: black;
		}
	}

	.item-toggle-light {
		color: var(--inactive-control);

		&.lit {
			color: darkorange;
		}
	}

	.portrait {
		grid-row: span 2;
	}


	.shadowdark-logo {
		font-family: "JSL Blackletter";
		font-size: 1.75rem;
		color: white;
		text-align: center;

		span {
			border-bottom: solid 1px white;
			padding: 0px 10px 0px 10px;
		}
	}

	.tab-notes.active{
		height: 100%;
		display: grid;
		grid-template-rows: 30px 1fr;
	}

	.uuid-link {
		margin: 4px;
		// text-align: center;
	}

	.value-grid {
		display: grid;
		grid-template-columns: 2fr 1fr 2fr;
		column-gap: 2px;
		align-items: center;
		text-align: center;
	}

	.rollable {
		font-size: 16px;
		font-family: "Montserrat-SemiBold";
		i {
			font-size: 14px;
			visibility: hidden;
		}

		&:hover {
			i {
				visibility: visible;
			}
		}
	}
}
