<div class="npc-attacks">
	<label class="npc-label">
		{{localize 'SHADOWDARK.sheet.npc.attacks_label'}}
		<span class="item-controls">
			<a
				class="item-control item-create"
				data-tooltip="{{localize 'SHADOWDARK.sheet.general.item_create.tooltip' type='NPC Attack'}}"
				data-item-type="NPC Attack"
			>
				<i class="fa-duotone fa-square-plus"></i>
			</a>
		</span>
	</label>
	<ol>
		{{#each attacks as |attack|}}
			<li
				class="item rollable item-rollable"
				{{!-- data-action="item-attack" --}}
				data-item-id="{{attack.itemId}}"
			>
				{{{attack.display}}}
			</li>
		{{/each}}
	</ol>
</div>
