<div class="detail-box">
	<label>{{localize 'SHADOWDARK.sheet.actor.alignment'}}</label>
	<select name="system.alignment">
		<option value="">&mdash;</option>
		{{selectOptions config.ALIGNMENTS selected=system.alignment localize=false}}
	</select>
</div>
