<section class="tab tab-description" data-group="primary" data-tab="tab-description">

	<div class="SD-banner">{{localize 'SHADOWDARK.item.description'}}</div>
	{{editor descriptionHTML
		button=true
		collaborate=false
		editable=editable
		engine="prosemirror"
		target="system.description"
	}}

</section>
