<section class="tab tab-effects" data-group="primary" data-tab="tab-effects">
	<div class="grid-1-columns">
		{{> items/_partials/effects/predefined-selector }}
		{{> items/_partials/effects/active-effects-list }}
	</div>
</section>
