<div class="SD-box">
	<div class="header light">
		<label>{{localize 'SHADOWDARK.item.gm_only'}}</label>
	</div>
	<div class="content">
		<div class="SD-grid right">
			{{> items/_partials/unidentified }}
		</div>
	</div>
</div>
