<div class="item-grid">
	<h3>{{localize 'SHADOWDARK.language.rarity.label'}}</h3>
	<select name="system.rarity">
		{{selectOptions
			config.LANGUAGE_RARITY
			selected=system.rarity
			localize=false
		}}
	</select>
</div>

