<div class="SD-box grid-colspan-{{columns}}">
	<div class="header">
		<label>{{localize label}}</label>
		<span></span>
	</div>
	<div class="content centered larger">
		{{numberInput
			value
			name=name
			placeholder=placeholder
		}}
	</div>
</div>
