<div class="shadowdark grid-1-columns">
	<div class="centered">
		<i>{{question}}</i>
	</div>
	<div class="centered">
		<h2>{{result}}</h2>
	</div>
	<button data-action="roll-prompt">{{localize "SHADOWDARK.apps.solodark.roll_prompt"}}</button>
</div>
