<!-- renown -->
<div class="SD-box">
	<div class="header">
		<label tooltip="{{localize 'SHADOWDARK.sheet.player.renown'}}">
			{{localize 'SHADOWDARK.sheet.player.renown'}}
		</label>
		<span></span>
	</div>
	<div class="content centered">
		{{numberInput
			system.renown
			class="ability-score"
			name="system.renown"
			placeholder="0"
		}}
	</div>
</div>
