<!-- Title -->
<div class="SD-box">
	<div class="header">
		<label>
			{{localize 'SHADOWDARK.sheet.player.title'}}
		</label>
		<span></span>
	</div>
	<div class="content">
		{{classTitle}}
	</div>
</div>
