<section class="tab tab-details" data-group="primary" data-tab="tab-details">
	<div class="grid-3-columns">
		<div class="item-grid">
			<h3>{{localize 'SHADOWDARK.item.talent_class'}}</h3>
			<select name="system.talentClass">
				{{selectOptions
					config.TALENT_CLASSES
					selected=system.talentClass
					localize=false
				}}
			</select>

			{{#ifEq system.talentClass "level"}}
				<h3>{{localize 'SHADOWDARK.item.level'}}</h3>
				{{numberInput
					item.system.level
					name="system.level"
					placeholder="0"
				}}
			{{/ifEq}}
		</div>
	</div>
</section>
