<div class="flexrow">
	<button class="character-generator-button">
		<i class="fas fa-user-plus"></i>
		<b class="button-text">
			{{localize SHADOWDARK.apps.character-generator.sidebar_create}}
		</b>
	</button>

	<button class="shadowdarkling-import-button">
		<i class="fas fa-file-import"></i>
		<b class="button-text">
			{{localize SHADOWDARK.apps.character-generator.sidebar_import}}
		</b>
	</button>
</div>
