<section class="tab tab-details" data-group="primary" data-tab="tab-details">
	<div class="grid-3-columns">
		{{> items/effect/_partials/category }}
		{{> items/effect/_partials/duration }}
		{{> items/effect/_partials/properties }}
	</div>
</section>
