<form autocomplete="off" spellcheck="off">
	<div class="shadowdark-dialog">
		<h2>{{title}}</h2>
		<hr />
		<div class="form-group">
			<label>{{localize "SHADOWDARK.dialog.roll_mode_label"}}</label>
			<select name="rollMode">
				{{#select rollMode}}
					{{#each rollModes as |label mode|}}
						<option value="{{mode}}">{{localize label}}</option>
					{{/each}}
				{{/select}}
			</select>
		</div>
		<hr />
	</div>
</form>
