<footer class="roll-footer">
	<select name="rollMode">
		{{selectOptions rollModes selected=rollMode localize=true}}
	</select>

	<button type="submit" class="default">
		<i class="fa-solid fa-dice-d20"></i>
		{{localize "SHADOWDARK.dialog.roll"}}
	</button>
</footer>
