@use "../abstracts" as *;

// TODO remove this legacy styling after next release
.shadowdark.welcome-message,
.shadowdark.roll-card,
.shadowdark.item-card,
.shadowdark.light-source-card,
.shadowdark.ability-card {
  .card-header {
    img {
      flex: 0 0 36px;
      margin-right: 5px;
      width: 36px;
      height: 36px;
      border-radius: 3px;
    }
  }
}


.chat-message {
	font-family: "Montserrat-Medium";
	.message-header {
		margin-bottom: 8px;

		img {
			width:40px;
			flex: 0 0 auto;
			border: 2px solid black;
		}

		.message-sender-wrapper {
			display: flex;
			align-items: center;
			gap: 8px;
			white-space: unset;

			.message-sender {
				text-wrap: wrap;
				font-size: var(--font-size-18);
				font-family: "Montserrat-Bold";
				color: black;
			}

		}


		.message-metadata {
			flex: none;
        	font-size: var(--font-size-10);
		}
	}

	.message-content {
		font-family: "Montserrat-Medium";

		.action-wrapper {
			padding: 4px 0px;
			display: flex;
			gap: 8px;
			align-items: center;

			img {
				width: 30px;
				height: 30px;
				border: 1px solid black;
			}

			.action-header {
				display: flex;
				flex-direction: column;
				flex: auto 1 1;
				line-height: 1;

				.action-title {
					font-size: var(--font-size-18);
					font-family: "Montserrat-Bold";
				}

				.action-subtitle {
					font-size: var(--font-size-12);
				}

				.action-formula {
					font-size: var(--font-size-12);
					justify-self: right;
				}


			}

			.action-vs {
				font-size: var(--font-size-12);
				margin: 4px;
				text-wrap: nowrap;
			};

			.action-target {
				display: flex;
				flex: auto 1 1;
				font-size: var(--font-size-12);
				img {
					width: 20px;
					height: 20px;
				}

			}
		}

		.dice-roll {
			margin-top: 8px;
		}
	}
}


.shadowdark.welcome-message {
	.message-content {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		row-gap: 18px;
		p {
		padding: 3px 0 3px;
		}
	}
	.shadowdark-logo {
		font-family: "JSL Blackletter";
		font-size: 40px;
		color: var(--primary);
		text-align: center;

		span {
			border-bottom: solid 2px var(--primary);
			padding: 0px 10px 0px 10px;
		}
	}
}
