@use "../abstracts" as *;

.shadowdark.roll-card,
.shadowdark.item-card {
  .card-header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;

    img {
      flex: 0 0 36px;
      margin-right: 5px;
      width: 36px;
      height: 36px;
      border-radius: 3px;
    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;
    }
  }

  .card-content {
    padding: 3px 0 3px;

    p {
      padding: 3px 0 3px;
    }
  }

  .card-attack-roll {
    padding: 3px 0 3px;
    border-top: 2px groove #FFF;
  }

  .card-damage-rolls {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-damage-roll {
    padding: 2px 6px 3px;

    h3 {
      font-size: 12px;
    }

  }

  .card-damage-roll-single {
    padding: 12px 0 3px;
    grid-column: span 2;
  }

  .card-spell-critical {
    font-size: 12px;
    padding: 3px 0 0;
  }

  .card-buttons {
    padding: 3px 0 3px;
    display: none;
  }

  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #FFF;

    span {
      border: 2px groove #FFF;
      border-radius: 5px;
      padding: 0 4px 0 4px;
      font-size: 10px;
    }
  }
}

.shadowdark.light-source-card,
.shadowdark.ability-card {
  .card-header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;

    img {
      flex: 0 0 36px;
      margin-right: 5px;
      width: 36px;
      height: 36px;
      border-radius: 3px;
    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;
    }
  }

  .card-content {
    padding: 3px 0 3px;

    p {
      padding: 3px 0 3px;
    }
  }

  .card-ability-roll {
    padding: 3px 0 3px;
    border-top: 2px groove #FFF;
  }
}
