@use "../abstracts" as *;
@use "../mixins" as *;

.shadowdark-dialog {
	@include p-reset;
	padding: 4px;

	color: black;
	font-size: 18px;

	.pc-backstab-class {
		display: grid;
		grid-template-columns: 1fr min-content;
		background-color: var(--form-background);
	}

	.pc-versatile {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		background-color: var(--form-background);

		.hand {
			text-align: right;
		}
	}

	&.pickup-lightsource {
		img {
			width: 50px;
			height: 50px;
			max-width: 50px;
			border-radius: 5px;
			border: 3px solid rgba(0,0,0,0);
			margin: 0 3px;
		}

		.actor-selector {
			display: grid;
			grid-template-columns: 1fr 1fr;

			.actor {

				input[type="radio"] {
					display: none;
				}

				label {
					display: inline-flex;
					align-items: center;
					cursor: pointer;
				}

				input[type="radio"]:checked+label img {
					border: 3px solid var(--secondary);
				}

				label:hover {
					background: var(--form-background);
				}
			}
		}
	}
}

.dialog-button.advantage.talent-highlight {
	background-color: #c1e0be;
}
