@use "../abstracts" as *;

$pause-h: 200px;
$pause-w: 200px;

#pause>img {
	content: url("../assets/logo/arcane-library-logo.webp");
	width: $pause-w;
	height: $pause-h;
	top: -56px;
	left: calc(50% - ($pause-w * .5));
	opacity: .8;
	--fa-animation-duration: 30s;
}

#pause {
	height: auto;
	animation: none;

	figcaption {
		font-family: var(--font-header);
		font-size: 64px;
		line-height: 0.5;
		opacity: .8;
		text-shadow: 4px 4px black;
		font-weight: normal;
		text-transform: none;
		color: white;
	}
}

.dice-roll .dice-total.success {
    color: var(--color-level-success-border);
}
.dice-roll .dice-total.failure {
    color: var(--color-level-error-border);
}

.editor {
	height: 100%;
	padding: 0 4px;
	min-height: 200px;

	.tox-toolbar-overlord,
	.tox-toolbar__primary {
		background: none;
	}
}
