@use "../abstracts" as *;
@use "../mixins" as *;

.value-box {
	@include p-reset;
	border: 2px solid var(--color-border-light-tertiary);
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;

	&__bold {
		@include p-reset;
		font-family: "Old Newspaper Font";
		border: 2px solid var(--color-border-light-tertiary);
		padding-bottom: 4px;

		label {
			@include p-reset;
			display: block;
			padding: 4px;

			font-family: "Old Newspaper Font";
			font-size: 22px;
			line-height: 1;

			border: none;
			color: white;
			background: linear-gradient(0.75turn, transparent, black);
		}
	}

	label {
		@include p-reset;
		display: block;

		font-family: "Old Newspaper Font";
		font-size: 22px;
		font-weight: bold;

		line-height: 1;

		border: none;
	}
}
