@use "../abstracts" as *;
@use "../mixins" as *;

.value-box {
	@include p-reset;

	&__bold {
		@include p-reset;
		font-family: "Old Newspaper Font";
		padding-bottom: 4px;

		label {
			@include p-reset;
			padding-left: 4px;
			display: block;


			font-family: "Old Newspaper Font";
			font-size: 22px;
			font-weight: normal;

			border: none;
			color: white;
			background: linear-gradient(0.75turn, transparent, black);
		}
	}

	label {
		@include p-reset;
		padding-left: 4px;
		display: block;

		font-family: "Old Newspaper Font";
		font-size: 22px;
		font-weight: bold;

		border: none;
	}
}
