<section class="tab tab-notes" data-group="primary" data-tab="tab-notes">
	{{#> ui/sd-hideable-section
		sectionId=""
		sectionTitle=(localize "SHADOWDARK.sheet.vehicle.notes")
	}}
		{{editor
			notesHTML
			target="system.notes"
			button=true
			editable=editable
			engine="prosemirror"
			collaborate=false
		}}
	{{/ui/sd-hideable-section}}
</section>
