<div class="SD-box">
	<div class="header">
		<label>{{localize 'SHADOWDARK.sheet.actor.level'}}</label>
		<span></span>
	</div>
	<div class="content centered larger">
			{{numberInput
				actor.system.level.value
				name="system.level.value"
				placeholder="0"
			}}
	</div>
</div>
