<form class="level-up" autocomplete="off">
	<h1>{{actor.name}}</h1>
	Leveling up to level {{targetLevel}}
	{{!-- Hit Points --}}
	<div class="box-style">
		<div class="header">
			<label>Hit Points</label>
			<span></span>
		</div>
		<div class="content ">
			<button type="button" data-action="roll-hp">Roll HP</button>
		</div>
	</div>

	{{!-- Talents --}}
	<div class="box-style">
		<div class="header">
			<label>Talents</label>
			<span></span>
		</div>
		<div class="content ">
			No talents at this level
			<button type="button" data-action="roll-talent">Roll talent</button>
		</div>
	</div>

	{{!-- Spells --}}
	{{#if isSpellCaster}}
	<div class="box-style">
		<div class="header">
			<label>Spells</label>
			<span></span>
		</div>
		<div class="content ">
			Tier 1: Choose 1

		</div>
	</div>
	{{/if}}
	<button class="level-up-button" type="button" data-action="create-character">Level Up!</button>
</form>
