<form class="monster-importer" autocomplete="off">
	<section>
		<div>
			<p>{{localize "SHADOWDARK.apps.monster-importer.instruction1"}}</p>
			<hr />
			<p>{{localize "SHADOWDARK.apps.monster-importer.instruction2"}}</p>
			<textarea name="monsterText"></textarea>
			<hr />
			<p>{{localize "SHADOWDARK.apps.monster-importer.instruction3"}}</p>
		</div>
	</section>
	<footer class="sheet-footer flexrow">
		<button class="import">
			{{localize "SHADOWDARK.apps.monster-importer.import_button"}}
		</button>
	</footer>
</form>
