<form class="shadowdarling-importer" autocomplete="off">
  <section>
    <div>
      <p>{{localize "SHADOWDARK.apps.shadowdarkling-importer.instruction"}}</p>
    <a href="http://shadowdarklings.net">Shadowdarklings.net</a>
    <hr />
    </div>
  </section>
  <textarea name="json"></textarea>
  <footer class="sheet-footer flexrow">
    <button class="import">
      {{localize "SHADOWDARK.apps.shadowdarkling-importer.import_button"}}
    </button>
  </footer>
</form>
