<form autocomplete="off">

	<h1 class="centered">The Oracle</h1>

	<div class="grid-3-columns">
		<textarea
			class="grid-colspan-3"
			name="question"
			placeholder="What will you ask the Oracle?"
			rows="3"
		></textarea>
		<button name="dis">Unlikely or Impossible</button>
		<button name="even">Even Chance</button>
		<button name="adv">Likely or Certain</button>
	</div>
</form>
