@use "../abstracts" as *;
@use "../mixins" as *;
@forward "actors";

.shadowdark.sheet.player,
.shadowdark.sheet.npc,
.shadowdark.sheet.vehicle {

	min-width: 550px;

	.editor-content {
		padding-top: 8px;
		padding-bottom: 8px;

		p {
			margin: 0 0 0.5rem;
		}
	}

	.effect-controls {
		flex: 0 0 60px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.effect-duration {
		flex: 0 0 120px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.effect-source {
		flex: 0 0 250px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.item-image,
	.effect-image {
		display: inline-block;
		max-width: 24px;
		height: 24px;

		background-size: contain;
		background-repeat: no-repeat;

		font-size: 14px;
		vertical-align: middle;
		text-align: center;

		color: transparent;

		&:hover {
			background: none !important;
			color: white;
		}
		i {
			cursor: pointer;
		}
	}

	.portrait {
		grid-row: span 2;
	}

	.rollable {
		i {
			font-size: 14px;
			visibility: hidden;
		}

		&:hover {
			i {
				visibility: visible;
			}
		}
	}

	.shadowdark-logo {
		font-family: "JSL Blackletter";
		font-size: 1.75rem;
		color: white;
		text-align: center;

		span {
			border-bottom: solid 1px white;
			padding: 0px 10px 0px 10px;
		}
	}

	.uuid-link {
		margin: 4px;
		// text-align: center;
	}

	.value-grid {
		display: grid;
		grid-template-columns: 2fr 1fr 2fr;
		column-gap: 2px;
		align-items: center;
		text-align: center;
	}

	.attack {
		margin-left: 24px;
		.rollable {
			margin-left: -24px;
		}
	}
}
