@use "../abstracts" as *;
@use "../mixins" as *;

.shadowdark.sheet.item {
	@include p-reset;
	color: white;
	font-size: 18px;

	input {
		@include p-reset;
		font-family: "Montserrat-Medium";
		font-size: 16px;

		text-overflow: ellipsis;
		text-align: center;

		background: rgba(0, 0, 0, 0.05);
		border: none;
	}

	label {
		@include p-reset;
		display: block;

		font-family: "Old Newspaper Font";
		font-size: 22px;
		font-weight: bold;

		line-height: 1;

		border: none;
	}

	.coins {
		display: grid;
		row-gap: 4px;
		background-color: var(--form-background);
	}

	.coin-box {
		display: grid;
		grid-template-columns: 2fr 1fr;

		align-items: center;

		label {
			font-size: 18px;
			font-weight: normal;
		}
	}

	.coin-value {
		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}

	.item-body {
		@include p-reset;
		margin: 4px;
		display: grid;
		grid-template-columns: 1fr 100px;
		grid-template-rows: 100px 100px 1fr;
		column-gap: 4px;
		row-gap: 8px;
	}

	.item-description {
		@include p-reset;
		height: 100%;
		grid-row: span 3;
		background-color: var(--form-background);
	}

	.item-header {
		@include p-reset;

		display: grid;
		grid-template-columns: 68px 1fr;

		column-gap: 4px;

		align-items: center;
	}

	.item-name {
		font-family: "Old Newspaper Font";
		font-size: 2.5rem;

		height: 100%;
	}
}
