@use "../abstracts" as *;
@use "../mixins" as *;

.shadowdark.sheet.item {
	@include p-reset;
	color: white;
	font-size: 18px;

	input {
		@include p-reset;
		font-family: "Montserrat-Medium";
		font-size: 16px;

		text-overflow: ellipsis;
		text-align: center;

		background: rgba(0, 0, 0, 0.05);
		border: none;
	}

	label {
		@include p-reset;
		display: block;

		font-family: "Old Newspaper Font";
		font-size: 22px;
		font-weight: bold;

		line-height: 1;

		border: none;
	}

	.coins {
		display: grid;
		row-gap: 4px;
		background-color: var(--form-background);
	}

	.slots {
		display: grid;
		row-gap: 4px;
		background-color: var(--form-background);
	}

	.coin-box {
		display: grid;
		grid-template-columns: 2fr 1fr;

		align-items: center;

		text-align: center;

		label {
			font-size: 18px;
			font-weight: normal;
		}
	}

	.coin-value {
		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}

	.item-body {
		@include p-reset;
		margin: 4px;
		display: grid;
		grid-template-columns: 1fr 120px;
		column-gap: 4px;
		row-gap: 8px;
	}

	.item-description {
		@include p-reset;
		padding: 4px;
		grid-row: span 2;
		background-color: var(--form-background);
	}

	.item-header {
		@include p-reset;

		display: grid;
		grid-template-columns: 68px 1fr;

		column-gap: 4px;

		align-items: center;
	}

	.item-name {
		font-family: "Old Newspaper Font";
		font-size: 2.5rem;

		height: 100%;
	}

	.weapon-details {
		@include p-reset;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column: span 2;
		column-gap: 4px;
	}

	.weapon-detail {
		background-color: var(--form-background);
		display: grid;
		row-gap: 4px;
	}

	.weapon-properties {
		@include p-reset;
		display: grid;
		grid-column: span 2;
		column-gap: 4px;
	}

	.weapon-property {
		@include p-reset;
		display: grid;
		grid-template-columns: 100px 1fr;
		column-gap: 8px;
		font-family: "Montserrat-Medium";
		font-size: 16px;

		label {
			@include p-reset;
			display: block;

			font-family: "Old Newspaper Font";
			font-size: 22px;
			font-weight: bold;

			line-height: 1.1;

			border: none;
			background-color: var(--form-background);
		}

		p {
			background-color: var(--form-background);
		}
	}

	.weapon-property-list {
		&:hover {
			cursor: pointer;
			box-shadow: 0 0 5px var(--color-shadow-primary);
		}
	}
}
