.shadowdark.item {

	min-width: 550px;

	.effect-list-changes {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 4px 8px;
		font-size: 12px;
		flex: 2;

		span {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			direction: rtl;
		}

		input {
			height:auto;
		}
	}

	.properties-list {
		height: 26px;
   		background-color: var(--form-background);
		line-height: 1.75;
	}

	.tab-description.active{
		height: 100%;
		display: grid;
		grid-template-rows: 30px 1fr;
	}
}
