@use "../abstracts" as *;
@use "../mixins" as *;

.shadowdark.sheet.player {
	@include p-reset;
	color: white;
	font-size: 18px;

	input {
		@include p-reset;
		font-family: "Montserrat-Medium";
		font-size: 16px;

		text-overflow: ellipsis;
		text-align: center;

		background: rgba(0, 0, 0, 0.05);
		border: none;
	}

	label {
		@include p-reset;
		display: block;

		font-family: "Old Newspaper Font";
		font-size: 22px;
		font-weight: bold;

		line-height: 1;

		border: none;
	}

	ol {
		padding: 4px;
		margin: 4px;

		list-style-type: none;

		font-family: "Montserrat-Medium";
		font-size: 16px;
	}

	.abilities-grid {
		@include p-reset;
		display: grid;
		grid-template-columns: 180px 1fr;
		column-gap: 8px;
	}

	.ability-scores {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 48px) 110px;
		column-gap: 8px;
		row-gap: 8px;
		background-color: var(--form-background);
	}

	.ability-score {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 4px;
		align-items: center;

		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}

	.ac-value,
	.hp-value {
		font-size: 38px;
		height: auto;
		line-height: 1;
		margin-bottom: 2px;
	}

	.background-grid {
		@include p-reset;
		display: grid;
		grid-template-columns: 180px 1fr;
		column-gap: 8px;
	}

	.background-details {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 4px;
		background-color: var(--form-background);
	}

	.background-notes {
		@include p-reset;
		margin-bottom: 8px;
		background-color: var(--form-background);
	}

	.details {
		display: grid;
		grid-template-rows: 56px;
		row-gap: 4px;
	}

	.detail-box {
		@include p-reset;
		font-family: "Montserrat-Medium";
		font-size: 16px;
		padding-left: 4px;
		padding-right: 4px;
		padding-bottom: 4px;
	}

	.detail-value {
		text-align: right;
	}

	.hit-points {
		text-align: center;
	}

	.hp-max {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;

		p {
			font-size: 18px;
		}
	}

	.level-xp {
		display: grid;
		grid-template-columns: 0.5fr 1.5fr;
		column-gap: 8px;
	}

	.player-body {
		@include p-reset;
		margin: 4px;
	}

	.player-header {
		@include p-reset;

		display: grid;
		grid-template-columns: 110px 1fr;

		column-gap: 4px;

		align-items: center;
	}

	.player-name {
		font-family: "Old Newspaper Font";
		font-size: 2.5rem;

		height: 100%;
	}

	.player-navigation {
		&__flex {
			display: flex;
			justify-content: space-evenly;

			a {
				@include p-reset;
				margin: 4px;

				font-family: "Old Newspaper Font";
				font-size: 1.75rem;
				line-height: 1;

				color: $primary-color;

				&.active {
					text-decoration: underline;
				}
			}
		}
	}

	.portrait {
		grid-row: span 2;
	}

	.rollable {
		&:hover {
			cursor: pointer;
			text-shadow: 0 0 8px var(--clickable);
		}
	}

	.title {
		@include p-reset;

		font-family: "JSL Blackletter";
		font-size: 3.5rem;

		text-align: right;
		line-height: 1;

		&__prefix {
			color: $secondary-color;
			text-shadow: -0.2rem -0.2rem $primary-color;
		}

		&__suffix {
			color: $primary-color;
			text-shadow: -0.2rem -0.2rem $secondary-color;
		}
	}

	.xp-score {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2px;
		align-items: center;

		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}
}
