@use "../abstracts" as *;
@use "../mixins" as *;

.shadowdark.sheet.player {
	@include p-reset;
	color: white;
	font-size: 18px;

	input {
		@include p-reset;
		font-family: "Montserrat-Medium";
		font-size: 16px;

		text-overflow: ellipsis;
		text-align: center;

		background: rgba(0, 0, 0, 0.05);
		border: none;
	}

	ol {
		padding: 4px;
		margin: 4px;

		list-style-type: none;

		font-family: "Montserrat-Medium";
		font-size: 16px;
	}


	.abilities {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 56px) 114px;
		column-gap: 4px;
		row-gap: 4px;
	}

	.ability-score {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 4px;
		align-items: center;

		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}

	.ac-value,
	.hp-value {
		font-size: 38px;
		height: auto;
		line-height: 1;
		margin-bottom: 2px;
	}

	.details {
		display: grid;
		grid-template-rows: 56px;
		row-gap: 4px;
	}

	.detail-box {
		@include p-reset;
		font-family: "Montserrat-Medium";
		font-size: 16px;
		border: 2px solid var(--color-border-light-tertiary);
		padding-left: 4px;
		padding-right: 4px;
		padding-bottom: 4px;

		label {
			@include p-reset;
			display: block;

			font-family: "Old Newspaper Font";
			font-size: 22px;
			font-weight: bold;

			line-height: 1;

			border: none;
		}
	}

	.detail-value {
		text-align: right;
	}

	.hit-points {
		text-align: center;
	}

	.hp-max {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;

		p {
			font-size: 18px;
		}
	}

	.level-xp {
		display: grid;
		grid-template-columns: 0.5fr 1.5fr;
		column-gap: 4px;
	}

	.player-body {
		@include p-reset;
		display: grid;
		grid-template-columns: 180px 185px 2fr;
		column-gap: 4px;
	}

	.player-header {
		@include p-reset;

		display: grid;
		grid-template-columns: 110px 1fr;

		column-gap: 4px;

		align-items: center;
	}

	.player-name {
		font-family: "Old Newspaper Font";
		font-size: 28px;

		input {
			@include p-reset;
			height: auto;

			text-overflow: ellipsis;
			text-align: center;

			border: none;
		}
	}

	.portrait {
		grid-row: span 2;
	}

	.rollable {
		&:hover {
			cursor: pointer;
			text-shadow: 0 0 8px var(--clickable);
		}
	}

	.title {
		@include p-reset;

		font-family: "JSL Blackletter";
		font-size: 3rem;

		text-align: right;
		line-height: 1;

		&__prefix {
			color: $secondary-color;
			text-shadow: -0.2rem -0.2rem $primary-color;
		}

		&__suffix {
			color: $primary-color;
			text-shadow: -0.2rem -0.2rem $secondary-color;
		}
	}

	.value-box {
		@include p-reset;
		border: 2px solid var(--color-border-light-tertiary);
		padding-left: 4px;
		padding-right: 4px;
		padding-bottom: 4px;

		&__bold {
			@include p-reset;
			font-family: "Old Newspaper Font";
			border: 2px solid var(--color-border-light-tertiary);
			padding-bottom: 4px;

			label {
				@include p-reset;
				display: block;
				padding: 4px;

				font-family: "Old Newspaper Font";
				font-size: 22px;
				line-height: 1;

				border: none;
				color: white;
				background: linear-gradient(0.75turn, transparent, black);
			}
		}

		label {
			@include p-reset;
			display: block;

			font-family: "Old Newspaper Font";
			font-size: 22px;
			font-weight: bold;

			line-height: 1;

			border: none;
		}
	}

	.xp-score {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2px;
		align-items: center;

		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}
}
