<section class="tab tab-light" data-group="primary" data-tab="tab-light">
	<div class="grid-2-columns">
		{{> items/basic/_partials/light-timer }}
		{{> items/basic/_partials/light-template }}
	</div>
</section>
