<div class="choice-selector">
	{{>
		items/partials/choice-selector
		config=languagesConfig
	}}
	<div class="form-group stacked">
		<div class="language-detail">
			<label>{{localize 'SHADOWDARK.ancestry.language_choices.label'}}</label>
			<div class="grid-2-columns">
				{{numberInput
					item.system.languageChoiceCount
					name="system.languageChoiceCount"
					placeholder="0"
				}}
				<select name="system.languageChoiceRarity">
					{{selectOptions
						config.LANGUAGE_RARITY
						selected=system.languageChoiceRarity
						localize=false
					}}
				</select>
			</div>
		</div>
	</div>
	{{>
		items/partials/choice-selector
		config=talentsConfig
	}}
</div>
