{{#ifEq item.type "Armor"}}
<div class="base-item">
  <label>{{localize "SHADOWDARK.item.armor.base_armor.title"}}</label>
  <select name="system.baseArmor">
    {{selectOptions
      config.ARMOR_BASE_ARMOR
      selected=system.baseArmor
      localize=false
  }}
  </select>
</div>
{{/ifEq}}
{{#ifEq item.type "Weapon"}}
<div class="base-item">
  <label>{{localize "SHADOWDARK.item.armor.base_weapon.title"}}</label>
  <select name="system.baseWeapon">
    {{selectOptions
      config.WEAPON_BASE_WEAPON
      selected=system.baseWeapon
      localize=false
  }}
  </select>
</div>
{{/ifEq}}