<div class="item-details">
	<div class="boon-detail">
		<label>{{localize 'SHADOWDARK.boon.type.label'}}</label>
		<select name="system.boonType">
			{{selectOptions
				config.BOON_TYPES
				selected=system.boonType
				localize=false
			}}
		</select>
	</div>
</div>
