<div
	class="item-description"
	{{#ifEq item.type "Spell"}}
		style="grid-column: span 2;"
	{{/ifEq}}
>
	<label>{{localize 'SHADOWDARK.item.description'}}</label>
	{{editor
		system.description
		target="system.description"
		button=true
		editable=editable
		engine="prosemirror"
		collaborate=false
	}}
</div>
