<div class="item-description">
	<label>{{localize 'SHADOWDARK.item.description'}}</label>
	{{editor
		system.description
		target="system.description"
		button=true
		editable=editable
		engine="prosemirror"
		collaborate=false
	}}
</div>
