<div class="effect-token-icon">
  <label for="system.tokenIcon.show">
    {{localize "SHADOWDARK.item.effect.show-token-icon"}}
  </label>
  <div class="form-fields">
    <input
      type="checkbox"
      name="system.tokenIcon.show" 
      {{checked system.tokenIcon.show}}
    />
  </div>
</div>

<div class="effect-panel">
  <label for="system.panel.show">
    {{localize "SHADOWDARK.item.effect.show-on-panel"}}
  </label>
  <div class="form-fields">
    <input
      type="checkbox"
      name="system.effectPanel.show"
      {{checked system.effectPanel.show}}
    />
  </div>
</div>