<div class="{{type}}-category">
  <select name="{{base}}">
    <option value="">&mdash;</option>
    {{selectOptions
      choices
      selected=category
      localize=false
    }}
  </select>
</div>