<div class="item-details">
	<div class="language-detail">
		<label>{{localize 'SHADOWDARK.language.rarity.label'}}</label>
		<select name="system.rarity">
			{{selectOptions
				config.LANGUAGE_RARITY
				selected=system.rarity
				localize=false
			}}
		</select>
	</div>
</div>
