{{#if item.system.light.isSource}}
	<div class="light-timer">
		<label>{{localize 'SHADOWDARK.item.light.longevity'}}</label>
		<input
			type="number"
			value={{item.system.light.longevityMins}}
			name="system.light.longevityMins"
			{{#if item.system.light.hasBeenUsed}}
				disabled
			{{/if}}
		>
		<label>{{localize 'SHADOWDARK.item.light.remaining'}}</label>
		<input
			type="number"
			value={{lightRemainingMins}}
			disabled
		>
	</div>
	<div class="light-settings">

	</div>
{{/if}}
