<div class="magic-properties">
	<div class="magic-property">
		<label>{{localize "SHADOWDARK.item.magic_item.title"}}</label>
		<p
			class="item-property-list magic-type"
			{{#unless editable}}disabled{{/unless}}
		>
			{{magicItemEffectsDisplay}}
		</p>
	</div>
</div>
