<div class="spell-details">
	<div class="item-properties">
		<div class="item-property">
			<label>{{localize 'SHADOWDARK.item.spell_caster_classes'}}</label>
			<p class="item-property-list spell">{{casterClassesDisplay}}</p>
		</div>
	</div>
</div>
