<div>
	<label>{{localize 'SHADOWDARK.item.level'}}</label>
	{{numberInput
		item.system.level
		name="system.level"
		placeholder="0"
	}}
	<p class="item-property-list talent-type">{{propertiesDisplay}}</p>
</div>
