<section class="tab tab-details" data-group="primary" data-tab="tab-details">
	<div class="grid-3-columns">
		<div class="grid-colspan-3 grid-2-columns">
			{{> items/armor/_partials/armor }}
			{{> items/armor/_partials/properties }}
		</div>
		{{> items/_partials/cost }}
		{{> items/_partials/slots }}
		{{> items/_partials/item-properties }}
	</div>
</section>
