<section class="tab tab-details" data-group="primary" data-tab="tab-details">
	<div class="grid-3-columns">
		{{> items/ancestry/_partials/languages }}
		{{> items/ancestry/_partials/talents }}
		{{> items/ancestry/_partials/character-generator }}
	</div>
</section>
