<div class="details-description">
	{{{description}}}
</div>
<button
	class="item-control"
	data-actor-id="{{actor._id}}"
	data-item-id="{{item._id}}"
	data-action="use-potion"
>
	{{localize 'SHADOWDARK.chat_card.button.use_potion'}}
</button>
