<section class="tab tab-abilities" data-group="primary" data-tab="tab-abilities">
	{{> actors/npc/abilities/attacks }}
	{{> actors/npc/abilities/specials }}
	{{> actors/npc/abilities/features}}
</section>
