<div class="value-box__bold">
	<label>{{localize 'SHADOWDARK.sheet.actor.ac'}}</label>
	<div class="ac">
		<div class="ac-value">
			{{numberInput
				actor.system.attributes.ac.value
				name="system.attributes.ac.value"
				class="ac-value"
				placeholder="0"
			}}
		</div>
	</div>
</div>
