<section class="tab tab-description flex1 SD-content-body {{tab.cssClass}}" data-group="primary" data-tab="description">
	<div class="SD-banner">Description</div>
		<prose-mirror
			name="system.notes"
			toggled
			value="{{actor.system.notes}}"
			data-document-uuid="{{actor.uuid}}"
		>{{{notesHTML}}}</prose-mirror>
</section>
