<section class="tab tab-description" data-group="primary" data-tab="tab-description">
	<div class="SD-banner">Description</div>
		{{editor
			notesHTML
			target="system.notes"
			button=true
			editable=editable
			engine="prosemirror"
			collaborate=false
		}}
</section>
