<section class="tab tab-description" data-group="primary" data-tab="tab-description">
	<div class="npc-description">
		{{editor
			notesHTML
			target="system.notes"
			button=false
			editable=editable
			engine="prosemirror"
			collaborate=false
		}}
	</div>
</section>
