@use "../../abstracts" as *;
@use "../../mixins" as *;

.shadowdark.sheet.item {
	// Effect details (Details tab)
	.effect-panel,
	.effect-token-icon {
		display: grid;
		grid-template-columns: 4fr 1fr;
		align-items: center;
		column-gap: 8px;
		background-color: var(--form-background);
	}

	.effect-details {
		display: grid;
		grid-column: span 2;
		column-gap: 4px;
		background-color: var(--form-background);

		.effect-detail {
			padding-bottom: 12px;
		}

		.effect-duration {
			@include p-reset;
			display: grid;
			grid-template-columns: 1fr 3fr;
			column-gap: 4px;
		}

		.effect-source,
		.effect-category {
			@include p-reset;
			display: grid;
		}
	}


  .effect-list-changes {
    display: grid;
	grid-template-columns: 1;
    row-gap: 4px;
    text-align: center;
    font-size: 12px;
	flex:2;
    input {
      width: 40%;
	  height:auto;
    }
  }
}
