@use "../../abstracts" as *;
@use "../../mixins" as *;

.shadowdark.sheet.item {
	@include p-reset;
	color: white;
	font-size: 18px;

	.editor-content {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	input {
		@include p-reset;
		font-family: "Montserrat-Medium";
		font-size: 16px;
		background-color: var(--form-background);

		text-overflow: ellipsis;
		text-align: center;

		background: rgba(0, 0, 0, 0.05);
		border: none;
	}

	label {
		@include p-reset;
		display: block;

		font-family: "Old Newspaper Font";
		font-size: 18px;
		font-weight: bold;

		line-height: 1.1;

		border: none;
	}

	.armor-details {
		@include p-reset;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column: span 3;
		column-gap: 4px;
	}

	.armor-detail {
		background-color: var(--form-background);
		display: grid;
		row-gap: 4px;
	}

	.choice-selector {
		display: grid;
		// grid-column: span 2;

		font-family: "Montserrat-Medium";
		font-size: 1.0rem;
		font-weight: bold;

		form {
			.form-group {
				@include p-reset;

				input:focus {
					border-bottom: 1px solid #644f33;
				}

				select {
					flex: 2;
					margin-right: 5px;
				}

				input[type="text"] {
					background: rgba(255, 255, 255, 0.5);
					border: 1px solid #aaa;
				}

				input::placeholder {
					color: var(--primary);
				}

			}
		}

		.delete-choice {
			color: darkred;
		}

		.uuid-link {
			margin: 4px;
		}
	}

	.class-details {
		grid-column: span 3;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 4px;
	}

	.class-equipment-details {
		grid-column: span 3;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: baseline;
		grid-column-gap: 8px;
		grid-row-gap: 8px;
	}

	.coins {
		display: grid;
		row-gap: 4px;
		background-color: var(--form-background);
	}

	.coin-box {
		display: grid;
		grid-template-columns: 2fr 1fr;

		align-items: center;

		text-align: center;

		label {
			font-size: 18px;
			font-weight: normal;
		}
	}

	.coin-value {
		text-align: center;

		input {
			@include p-reset;

			text-overflow: ellipsis;
			text-align: center;

			background: rgba(0, 0, 0, 0.05);
			border: none;
		}
	}

	.magic-properties {
		@include p-reset;
		grid-column: span 3;
		row-gap: 4px;
		column-gap: 8px;
		display: grid;
		grid-template-columns: 1fr;

		.magic-type {
			background-color: var(--form-background);

			&:not([disabled]):hover {
				cursor: pointer;
				box-shadow: 0 0 5px var(--color-shadow-primary);
			}
		}
	}

	.talent-properties {
		@include p-reset;
		grid-column: span 3;
		row-gap: 4px;
		column-gap: 8px;
		display: grid;
		grid-template-columns: max-content min-content 1fr;
	}

	.talent-property.talent-effects {
		grid-column: span 3;
	}

	.magic-details,
	.talent-details {
		@include p-reset;
		display: grid;
		grid-column: span 3;

		column-gap: 4px;
		row-gap: 8px;

		li {
			list-style-type: none;
			background-color: var(--background-highlight);
		}
	}

	.item-list {
		.effect-source {
			font-size: 12px;
		}
		.effect-name {
			padding: 3px 0;
			border-top: 0px groove #FFF;
			border-bottom: 0px groove #FFF;

			img {
				flex: 0 0 36px;
				margin-right: 5px;
				width: 36px;
				height: 36px;
				border-radius: 3px;
			}

			h4 {
				font-size: 14px;
				flex: 1;
				margin: 0;
				line-height: 36px;
			}
		}
	}

	.item-toggles {
		display: grid;
		row-gap: 4px;
	}

	.equipped,
	.checkbox,
	.light-source,
	.magic-item,
	.treasure {
		display: grid;
		grid-template-columns: 2fr min-content;
		background-color: var(--form-background);

		&:hover {
			background-color: var(--background-highlight)
		}
	}

	.item-light {
		@include p-reset;
		display: grid;
		column-gap: 8px;
		grid-template-columns: 1fr 1fr;
	}

	.item-details {
		@include p-reset;
		margin: 4px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 8px;
		row-gap: 8px;
		align-items: start;
	}

	.item-description {
		@include p-reset;
		display: grid;
		row-gap: 8px;
		grid-template-rows: min-content minmax(350px, max-content);

		.editor {
			background-color: var(--form-background);
		}

		label {
			display: block;
			@include p-reset;

			font-family: "Old Newspaper Font";
			font-size: 20px;
			font-weight: bold;
			text-decoration: underline;

			line-height: 1.1;

			border: none;
		}
	}

	.item-header {
		@include p-reset;

		display: grid;
		grid-template-columns: 68px 1fr;

		column-gap: 4px;

		align-items: center;
	}

	.item-name {
		font-family: "Old Newspaper Font";
		font-size: 2.5rem;

		height: 100%;
	}

	.item-sidebar {
		display: grid;
		grid-column: 2;
		align-items: start;
		row-gap: 8px;
	}

	.light-timer {
		display: grid;
		row-gap: 4px;
		background-color: var(--form-background);
	}

	.light-settings {
		display: grid;
		grid-template-rows: min-content 1fr;
		row-gap: 4px;
		align-items: start;
		background-color: var(--form-background);
	}

	.npc-attack-details {
		@include p-reset;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column: span 3;
		column-gap: 4px;
	}

	.npc-attack-detail {
		background-color: var(--form-background);
		display: grid;
		row-gap: 4px;
	}

	.section-header {
		grid-column: span 3;
		background: rgba(0, 0, 0, 0.05);
		text-transform: uppercase;
		font-weight: bold;
		text-align: left;
	}

	.slots {
		display: grid;
		row-gap: 4px;
		background-color: var(--form-background);
	}

	.spell-details {
		@include p-reset;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column: span 3;
		column-gap: 4px;
	}

	.spell-detail {
		background-color: var(--form-background);
		display: grid;
		row-gap: 4px;
	}

	.spell-duration {
		@include p-reset;
		display: grid;
		grid-template-columns: 1fr 3fr;
		column-gap: 4px;
	}

	.weapon-details {
		@include p-reset;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-column: span 3;
		column-gap: 4px;
	}

	.weapon-detail {
		background-color: var(--form-background);
		display: grid;
		row-gap: 4px;
	}

	.item-detail {
		background-color: var(--form-background);
		display: grid;
		row-gap: 4px;
	}

	.item-navigation {
		&__flex {
			display: flex;
			justify-content: space-evenly;
			align-items: baseline;

			a {
				@include p-reset;
				margin: 4px;

				font-family: "Old Newspaper Font";
				font-size: 1.5rem;
				line-height: 1;

				color: $primary-color;

				&.active {
					text-decoration: underline;
					font-weight: bold;
					font-size: 1.6rem;
				}
			}
		}
	}

	.item-properties {
		@include p-reset;
		display: grid;
		grid-column: span 3;
		column-gap: 4px;
	}

	.item-property {
		@include p-reset;
		display: grid;
		grid-template-columns: min-content min-content 1fr;
		column-gap: 8px;
		font-family: "Montserrat-Medium";
		font-size: 16px;
		align-items: center;

		p {
			background-color: var(--form-background);
		}
	}

	.item-property-list {
		&:not([disabled]) {
			height: 30px;
			background-color: var(--form-background);
		}

		&:not([disabled]):hover {
			cursor: pointer;
			box-shadow: 0 0 5px var(--color-shadow-primary);
		}
	}

	.titles-list {
		input {
			font-size: 13px;
		}

		table {
			@include p-reset;
			font-family: "Montserrat-Medium";
			font-size: 16px;
			text-align: center;
			border: none;

			& td:first-child {
				padding-left: 8px;
				text-align: left;
			}

			& tr {
				vertical-align: top;
			}

			& tr:first-child,
			& tr:nth-child(2) {
				background-color: #00000020;

				& td {
					@include p-reset;
				}
			}

			// Only highlight on hover rows that have actual items in them,
			// not the section headers or header/footer rows
			//
			& tr:not(:first-child,
				:nth-child(2),
				:nth-last-child(1)
			) {
				font-size: 13px;

				&:hover {
					background-color: var(--background-highlight)
				}
			}

		}
	}
}
