.shadowdark.item {

	.item-grid {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 4px 8px;

		&.left {
			grid-template-columns: 1fr 3fr;
		}
	}

	.tab-description.active{
		height: 100%;
		display: grid;
		grid-template-rows: 30px 1fr;
	}
}
