{{#> ui/sd-box
	header-label=(localize "SHADOWDARK.item.properties.label")
	header-class="light"
}}
	<div class="item-grid">
		{{> items/_partials/item-properties/ammunition }}
		{{> items/_partials/item-properties/equipped }}
		{{> items/_partials/item-properties/magic-item }}
	</div>
{{/ui/sd-box}}
