<p>
	<a class="fas fa-pen-to-square" data-action='clear-patron'></a>
	<b>
		{{localize "SHADOWDARK.form.section_header.patron.label"}}:
	</b>
	{{patron.name}} &mdash;
	<em>
		{{patron.formattedDescription}}
	</em>
</p>
