<section class="tab tab-details" data-group="primary" data-tab="tab-details">
	<div class="grid-3-columns">
		{{> items/class-ability/_partials/ability-check }}
		{{> items/class-ability/_partials/ability-group }}
		{{> items/class-ability/_partials/options }}
	</div>
</section>
