{{{description}}}
<footer class="card-footer">
	<ul class="tags">
		<li
			class="tag tag_primary tag_small"
			style="text-transform: capitalize;"
		>
			{{item.system.category}}
		</li>
		<li class="tag tag_secondary tag_small">
			{{localize "SHADOWDARK.item.spell_duration"}}:
			{{getSpellDuration
				item.system.duration.type
				item.system.duration.value
			}}
		</li>
	</ul>
</footer>
